# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.gitattributes
/deps
classes
key.properties

# Files from Forge MDK
testdatapack
deps
